.qustionProcessSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    margin: 0 auto;
    margin-bottom: 3.6vh;
    font-size: 0;
}   
.qustionProcess{
    height: 1.6vh;
    width: 1%;
    margin-right: 1.5%;
    background: #C9CFD3;
    border-radius: 50%;
    overflow: hidden;
}
.qustionProcess:last-child{
    margin-right:0%;
}